@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Recipes for every day</h1>
    <img class="hero" src="https://m.media-amazon.com/images/I/81JvjFQ9FJL._AC_SL1500_.jpg" alt="recipe Photo" />
</div>
