@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Cooking site</h1>
    <img class="hero" src="https://cdn.pixabay.com/photo/2020/12/31/12/28/cook-5876388_1280.png" alt="pizzaShopWelcome" />
</div>
